$bg_body: #2b2b2b;
$bg_main: #f7b617;
$bg_box_start: #bbbbbb;
$color_box_start: #ffffff;
$border_color: #0000cc;
$number_of_items: 4;

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: $bg_body;
}

#main {
	width: 60%;
	padding: 2% 5%;
	margin: 20px auto;
	background-color: $bg_main;
}

h1 {
	margin-bottom:20px;
}

#main div {
	float: left;
	width: 41%;
	margin: 0 5% 20px 0;
	border: 1px solid $border_color;
	padding: 1%;
}

@for $i from 4 through $number-of-items {
	#main div:nth-of-type(#{$i}) {
		background-color: $bg_box_start;
		color: $color_box_start;
	}
}

footer {
	clear:both;
}